/* assets/main.css */

/* placeholder for better sytle */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #131313;
    color: #14ee00;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

a {
    color: #059ce2;
    text-decoration: none;
}

a:hover {
    color: #f700ff;
}

header {
    padding: 1em;
    background-color: #5555;
    border-bottom: 1px solid #555;
}

header h1 {
    display: inline-block;
    margin-right: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

/* Add the following rule to improve code block appearance */
pre {
    background-color: #5555;
    padding: 1em;
    border-radius: 3px;
}

